.card-container {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    width: 100%;
}
.card-item {
    list-style: none;
}
/* Animated memory card */
.card-item--selected,
.card-item--matched,
.btn--emoji__back--selected,
.btn--emoji__back--matched {
  transform: rotateY(180deg);
}
.card-item--selected {
    transition: .6s;
    transform-style: preserve-3d;
}