.form__inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
select {
  background-color: var(---dark-secondary);
  color: var(--light-secondary);
  font-size: 1rem;
  font-family: inherit;
  font-weight: bolder;
  padding: 1em;
  border: 2px solid var(--light-primary);
  border-radius: 0.7em;
  cursor: pointer;
}
select:hover,
select:focus {
    background-color: var(--on-focus);
}
