@import "tailwindcss";

* {
    margin: 0;
}
:root {
  --dark-primary: #444546fd;
  --dark-secondary: #1a1a1a;
  --light-primary: #cbd5e1;
  --light-secondary: #f9f9f9;
  --accent: #fde68a;
  --btn-disabled: #a8a29e23;
  --on-focus: #531735;
  --button-hover: #02172d98;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
