* {
    margin: 0;
}
:root {
  --dark-primary: #444546fd;
  --dark-secondary: #1a1a1a;
  --light-primary: #cbd5e1;
  --light-secondary: #f9f9f9;
  --accent: #fde68a;
  --btn-disabled: #a8a29e23;
  --on-focus: #531735;
  --button-hover: #02172d98;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color-scheme: light dark;
  min-height: 100vh;
  color: var(--light-secondary);
  line-height: 1.5;
  font-weight: 400;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  min-height: 100vh;
  padding: 2em;
}
h1 {
  color: var(--light-secondary);
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: 2px;
  margin: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
